<configuration>
    <!-- JSON -->
    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <!--
            We can add some additional decorators here if we want. Otherwise, just feel free to comment them out.
            <jsonFactoryDecorator class="net.logstash.logback.decorate.NullJsonFactoryDecorator"/>
            -->
            <jsonGeneratorDecorator class="net.logstash.logback.decorate.PrettyPrintingJsonGeneratorDecorator"/>
            <timestampPattern>yyyy-MM-dd'T'HH:mm:ss.SSSZ</timestampPattern>
            <timeZone>UTC</timeZone>
            <fieldNames>
                <!-- tag names are the same as properties names in LogstashFieldNames.java -->
                <timestamp>timeStamp</timestamp>
                <level>severity</level>
                <levelValue>[ignore]</levelValue>
                <thread>thread</thread>
                <mdc>attributes</mdc>
                <message>message</message>
                <logger>[ignore]</logger>
                <version>[ignore]</version>
                <callerClass>class</callerClass>
                <callerMethod>method</callerMethod>
                <callerLine>line</callerLine>
                <callerFile>[ignore]</callerFile>
                <stackTrace>stackTrace</stackTrace>
            </fieldNames>
            <includeCallerData>true</includeCallerData>
            <includeMdc>true</includeMdc>
<!--            <includeMdcKeyName>key01</includeMdcKeyName>-->

            <!-- Custom stacktrace -->
            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                <maxDepthPerThrowable>30</maxDepthPerThrowable>
                <maxLength>2048</maxLength>
                <shortenedClassNameLength>20</shortenedClassNameLength>
                <exclude>sun\.reflect\..*\.invoke.*</exclude>
                <exclude>net\.sf\.cglib\.proxy\.MethodProxy\.invoke</exclude>
                <rootCauseFirst>true</rootCauseFirst>
            </throwableConverter>
        </encoder>
    </appender>

<!--    <logger name="org.springframework.boot" level="OFF"/>-->
    <logger name="org.tnmk" level="ALL"/>
    <root level="INFO">
        <appender-ref ref="JSON"/>
    </root>
</configuration>