<configuration>
    <!-- Not a JSON appender for local environment -->
    <appender name="fulllocal" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%yellow(%d{HH:mm:ss.SSS}) [%thread] %highlight(%-5level) %logger{36} - %mdc %cyan(%msg) %n</pattern>
        </encoder>
    </appender>

    <!-- JSON appender for not local environment -->
    <appender name="not_fulllocal" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.leonardo.monalisa.common.logging.CustomJsonLayout">
                <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                    <prettyPrint>false</prettyPrint>
                </jsonFormatter>
                <appendLineSeparator>true</appendLineSeparator><!-- Write each message in a separate line -->
                <timestampFormat>yyyy-MM-dd'T'HH:mm:ss.SSSXXX</timestampFormat><!-- ISO8601 format -->
            </layout>
        </encoder>
    </appender>

    <springProfile name="fulllocal">
        <root level="info">
            <appender-ref ref="fulllocal"/>
        </root>
    </springProfile>
    <springProfile name="!fulllocal">
        <root level="info">
            <appender-ref ref="not_fulllocal"/>
        </root>
    </springProfile>
</configuration>